@font-face{
    font-family: Iransans;
    src:url("fonts/eot/IRANSansWeb.eot");
    src:url("fonts/ttf/IRANSansWeb.ttf") format("truetype"),url("fonts/woff/IRANSansWeb.woff")format("woff"),url("fonts/woff2/IRANSansWeb.woff2")format("woff");
}